header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

body {
	background-color:#00569f;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("./ptrbackground.jpg");
}

header {
	background-image: url("./sunset.jpg");
	background-repeat: no-repeat;
	background-color: rgb(0, 2, 48);
	background-position: right;
	color: white;
}

nav ul {
	font-size: 1.2em;
}

nav a:visited {
	color: #344873;
}

nav a:hover {
	color: #FFFFFF;
}

h1 {
	margin-bottom: 0;
	padding: 10px;
}

h2 {
	color: #3399CC;
}

h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}

#contact {
	font-size: 90%;
}

dt {
	color: #000033;
}

footer {
	font-family: Georgia, "Times New Roman", serif;
}

