/* Modified by Patricia Antlitz 2024 -> body, header, wrapper, nav, nav <a>, footer,
content, content img, p, ul, li, contact and resort. */

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

body {
	background-color:#00569f;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("./ptrbackground.jpg");
}

header {
	background-image: url("./sunset.jpg");
	background-repeat: no-repeat;
	background-color: rgb(0, 2, 48);
	background-position: right;
	color: white;
}

#wrapper {
	background-color: white;
	width: 80%;
	min-width: 600px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(155, 198, 224);
	padding-right: 60px;
	height: 100%;
	padding-top: 20px;
	box-sizing: border-box;
	overflow: auto;
    margin-top: 78px; 
}

nav ul {
	font-size: 1.2em;
}

nav a {
	color: rgb(0, 2, 48);
	font-weight: 600;
	text-decoration: none;
	margin-left: -20px;
}

nav a:visited {
	color: #344873;
}

nav a:hover {
	color: #FFFFFF;
}

h1 {
	margin-bottom: 0;
	padding: 10px;
}

h2 {
	color: #3399CC;
}

h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}

dt {
	color: #000033;
}

footer {
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 12px;
	margin-left: 230px;
	padding: 50px 0 20px 0;
}

#content {
	margin: 0 20px 0 230px;
	position: relative;
}

#content img {
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}

#content p, ul {
	text-align: left;
	margin-top: 0;
}

#content ul {
	padding: 0;
	list-style-position: inside;
	margin: 0;
}

#content li {
	list-style-image: url("./marker.gif");
	display: list-item;
}

#contact {
	clear: both;
	padding-top: 20px;
}

.resort {
	color: rgb(104, 125, 151);
	font-weight: 600;
}
